/******************
  General Styles
*******************/

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
}

/******************
  Utility Classes
*******************/

.flex-container {
  display: flex;
}